<div class="clear">
  <h1>Dashboard</h1>
  <a class="btn btn-success float-left">Existing Report</a>
  <a routerLink="/scope" class="btn btn-success float-right">Create New Report</a>
  <div class="list-group clear">
    <h2 class="list-group-item list-group-item-action active">
      List Report
    </h2>
    <div class="list-group-item list-group-item-action">Report 1..
      <i class="material-icons float-right">add</i>
    </div>
    <div class="list-group-item list-group-item-action">Report 2..
      <i class="material-icons float-right">add</i>
    </div>
    <div class="list-group-item list-group-item-action">Report 3..
      <i class="material-icons float-right">add</i>
    </div>
  </div>
</div>
